<html>

<head>
    <title>Number Guessing Game</title>
</head>

<body style="text-align: center">
    <h1><%= result %></h1>
    <form action="start" method="GET">
        <button type="submit" name="play_again" id="play_again">Play Again?</button>
    </form>
</body>

</html>